{% extends 'layout.html' %}

{% block body %}
    <script>
        var instr = [];
        var i = 0;
        {% block content %}
            {% for item in istruzioni %}
                instr[i] = "{{ item }}";
                i = i + 1;
            {% endfor %}
        {% endblock content %}
    </script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/instructions.js') }}"></script>

    <div style="margin-right: 10%; margin-left: 10%">
        <div style="text-align: center" onload="caricaTesto()">
            <h2 style="margin-bottom: 5%; text-align: center">
                Please read the following instructions for proper test run before you begin it:
            </h2>
            <p style="text-align: center;margin-left: 15%; margin-right: 15%; font-size: 16pt" id="instr"></p>
        </div>
    </div>
    <div style="margin-left: 12%; margin-right: 12%;">
        <form method="post" action="{{ url_for('instructions') }}" id="form">
            <input type="button" id="next" onclick="nextText()" class="btn btn-success" value="Next"
                   style="float: right">
        </form>
    </div>

{% endblock %}
