{% extends 'layout.html' %}

{% block body %}
    <script>
        $(window).load(function () {
            var width = window.screen.width * 55 / 100;
            var height = window.screen.height * 85 / 100;
            var svg = document.getElementById('svg');
            svg.setAttribute('xmlns:xlink', "http://www.w3.org/1999/xlink");
            svg.setAttribute('xmlns', "http://www.w3.org/2000/svg");
            svg.setAttribute('xmlns:ev', "http://www.w3.org/2001/xml-events");
            svg.setAttribute('width', width);
            svg.setAttribute('height', height);
            svg.setAttribute("style", "outline: 5px solid #630;");
            var image = document.createElementNS("http://www.w3.org/2000/svg", 'image');
            image.setAttribute('href', '{{  url_for('static',filename = 'size.png') }}');
            svg.appendChild(image);
        });

    </script>
    <div id='svgDiv' class="col-sm-7">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622 528"></svg>
    </div>
    <div class="col-sm-5">
        <div style="text-align: left">
            <h3 style="margin-top: 0">
                Please read the following instructions for proper test run before you begin it:
            </h3>
            <ol>
                <li>If you are not very experienced in graph here are some notions that might be helpful:
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/Graph_(abstract_data_type)"
                               target=”_blank”>What is it a graph?</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Node_(computer_science)"
                               target="_blank">What is it a node?</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Glossary_of_graph_theory_terms#edge"
                            target="_blank">What is it an edge?</a> </li>
                    </ul>
                </li>
                <li>Please fill in this questionnaire using a desktop or laptop computer, not a tablet or phone.
                    Use the pointing device you are most comfortable with (for example, a mouse or touchpad).
                </li>
                <li>Press F11(Windows) or Ctrl & ⌘ & F(Mac) to enter in full-screen mode. If you want to stop the
                    questionnaire at any point, use the same hotkey to exit full-screen mode.
                </li>
                <li>It is important that you can easily read the text and clearly see the figures.
                    Fit your browser size so you can see the entire image on the left:
                    <ul>
                        <li>for Windows and Linux: press Ctrl & + to grow or Ctrl & - to shrink.</li>
                        <li>for Mac: press ⌘ & + or ⌘ & -.</li>
                    </ul>
                <li>Between a question and another there will be an intermediate page where time will not be measured.
                    If you are forced to stop for some problem taking advantage of these moments!
                </li>
                <li>Please do not press the back button of the browser during the test run.</li>
                <li>Please make sure that JavaScript is activated in your browser.</li>
                <li>Do not complete the questionnaire by giving random answers. If you want to stop, simply close your
                    tab or browser.
                </li>
                <li>You will encounter three types of questions:
                    <ul>
                        <li>Closed-ended questions where you will choose the answer between various options.</li>
                        <li>Open answer questions.</li>
                        <li>Questions in which the answer will be given by clicking through the requested nodes or
                            edges.
                        </li>
                    </ul>
                </li>
                <li>In all questions, you can zoom the image with the mouse wheel and
                    move it by clicking and dragging it.
                </li>
            </ol>
        </div>
        <form method="post" action="{{ url_for('instructions') }}">
            <input style="align-content: center" type="submit" value="Done" class="btn btn-success">
        </form>
    </div>
{% endblock %}
