{% extends 'layout.html' %}
{% block header %}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="application/javascript" src="{{ get_answer }}"></script>
    <script>

        //memorizza il tempo di inizio della domanda
        function getBeginTime() {
            var d = new Date();
            return d.getTime();
        }
        var beginTime = getBeginTime();

        //calcola il tempo impiegato per rispondere e lo assegna al campo hidden 'time'
        //aggiorna il contatore step e memorizza la risposta
        function sendTime() {
         var d = new Date();
            var month = d.getMonth();
            if (month < 10)
                month = '0' + month;
            var day = d.getDate();
            if (day < 10)
                day = '0' + day;
            var date = day + '/' + month + '/' + d.getFullYear();
            var seconds = d.getSeconds();
            if (seconds < 10)
                seconds = '0' + seconds;
            var minutes = d.getMinutes();
            if (minutes < 10)
                minutes = '0' + minutes;
            var hours = d.getHours();
            if (hours < 10)
                hours = '0' + hours;
            var hour = hours + ':' + minutes + ':' + seconds;
            var t = d.getTime() - beginTime;
            document.getElementById('dataEora').value = date + ' ' + hour;
            document.getElementById('step').value = {{ step }} +1;
            document.getElementById('time').value = t;
            document.getElementById('answer').value = getAnswer();
        }
        //calcola la risposta analizzando gli elementi selezionati
        function getAnswer() {
            properties = {{ properties|tojson }};
            return externalGetAnswer(properties);
        }
    </script>

{% endblock %}

{% block body %}

    <div id="question" class="col-sm-7">

    </div>
    <div class="col-sm-5">
        <form name="answerForm" onload="getBeginTime()" style="text-align: left">
            <h2 id="titolo" style="text-align: left">Question
                <script>document.write({{ step }} +1)</script>
            </h2>
            <h4 style="text-align: left"> {{ text_question }}</h4>
            <fieldset>
                <input type='hidden' name='time' id='time'>
                <input type="hidden" name='step' id="step">
                <input type="hidden" name="user" id="user" value={{ user }}>
                <input type="hidden" name="group" id="group" value={{ group }}>
                <input type="hidden" name="answer" id="answer" value="">
                <input type="hidden" name="dataEora" id="dataEora">
                <input type="hidden" name="questions_string" id="questions_string" value={{ questions_string }}>
                <input type="hidden" name="total_number_of_questions" id="total_number_of_questions"
                       value={{ total_number_of_questions }}>
                <input type="hidden" name="id_question" id="id_question" value={{ id_question }}>
                <input type="hidden" name="correct_answer" id="correct-answer" value={{ correct_answer }}>
                <input type='submit' id='submitButton' value='Submit' onclick='sendTime()' formmethod='post'
                       formaction="{{ url_for('answers') }}" style='margin-top:10px' class="btn btn-success"/>
            </fieldset>
        </form>
    </div>

    <script type="application/javascript" src="{{ interactive_script }}"></script>
    <script type="application/javascript" src="{{ make_svg }}"></script>
    <script>
        var properties = {{ properties|tojson }};
        var image_file = {{ image_file|tojson }};
        $(window).load(function () {
            makeSVG(image_file);
        });


    </script>
{% endblock %}

